@font-face {
    font-family: 'SEGA LOGO FONT';
    src:local('SEGA LOGO FONT'), url('../../constants/fonts/SEGA.TTF') format('truetype');
    font-family: normal;
    font-weight: normal;
}


h1{
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color:#0ccac4;
    src:local('SEGA LOGO FONT'), url('../../constants/fonts/SEGA.TTF') format('truetype');
}